@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    /* text-decoration: underline; */
    text-decoration: line-through;
    text-transform: lowercase;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.25;
    /* letter-spacing: 0.25em; */
    /* word-spacing: 0.5em; */
    /* font-weight: bolder; */
    font-style: italic;
}